$headerFooterColor : #98FB98;
$contentColor  : #fafafa;

@mixin flexCenter($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
}

*{
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    
    display: flex;
    flex-direction: column;
    background: $contentColor;
}
header{
    height: 15vh;
    background-color: $headerFooterColor;
    @include flexCenter(space-evenly);
    align-items: center;
    // position: fixed;
    .frase{
        cursor: pointer;
    }
    .link{
        cursor: pointer;
        &:hover{
            border-radius: 20%;
            background-color: royalblue;
        }
    }
}
.content{
    @include flexCenter(space-evenly);
    align-items: center;
    
    
    height: 100vh;
    .circle {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        
    }
    .circle-1 {
        background: red;
    }
    .circle-2 {
        background: yellow;
    }
    .circle-3{
        background: green;
    }
    .circle-4 {
        background:violet;
    }
    .circle-5 {
        background: black;
    }
}

footer{
    @include flexCenter(center);
    align-items: center;
    height: 15vh;
    background-color: $headerFooterColor;
}
